<!DOCTYPE html>
<html>
  <head>
    <title>SHISHO</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120580952-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120580952-1');
    </script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', debug: true %>
    <%= javascript_include_tag 'application', debug: true %>
    <%= include_gon %>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="<%= params[:controller].gsub('/', ' ') %> <%= params[:action] %>">
    <%= render 'layouts/header' %>
    <%= yield %>
    <% if "#{params[:controller]}" != "messages"%>
    <footer class="m_fotter">
      <div class="innerWrapper">
        <div class="title">
          SHISHO
        </div>
        <ul>
          <li>
            <a href="<%= terms_path %>">
              利用規約
            </a>
          </li>
          <li>
            <a href="<%= admin_path %>">
              SHISHOをつくった人
            </a>
          </li>
          <li>
            <a href="https://note.mu/dragontaro/n/n550a38a3261f">
              プログラミングコンサル
            </a>
          </li>
        </ul>
        <div class="copyRight">
          ©️ 2018 宮川 竜太朗
        </div>
      </div>
    </footer>
    <% end %>
  </body>
</html>
