<!DOCTYPE html>
<html>
  <head>
    <title>SHISHO</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
  </head>

  <body class="<%= params[:controller].gsub('/', ' ') %> <%= params[:action] %>">
    <header class="clearFix m_header">
      <div class="innerWrapper">
        <div class="title">
          <a href="/">
            SHISHO
          </a>
        </div>
        <%= render "layouts/navigation" %>
      </div>
    </header>
    <div class="innerWrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
    <% if "#{params[:controller]}" != "messages"%>
    <footer class="m_footer">
      <div class="innerWrapper">
        <div class="title">
          SHISHO
        </div>
        <ul>
          <li>
            <a href="#">
              SHISHOについて
            </a>
          </li>
          <li>
            <a href="#">
              つくった人
            </a>
          </li>
        </ul>
        <div class="copyRight">
          ©️ 2018 宮川 竜太朗
        </div>
      </div>
    </footer>
    <% end %>
  </body>
</html>
